.jumbotron
  .row
    .col-md-6.col-md-offset-3
      %p
        = t('.hello')
        = current_user.email
        #notice
        #translation_form
          - if @random_card
            = render 'form'
          - else
            %p= t('.all_cards_done')
  %br/
