<div class="jumbotron">
  <header class="clearfix">
    <h1>Флэшкарточкер</h1>
    <!-- <div class="btn-group navigation-links" role="group" aria-label="...">
      <a class="btn btn-default" href="#">Все карточки</a>
      <a class="btn btn-default" href="#">Добавить карточку</a>
    </div> -->
  </header>

  <section>
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
    <br>
    <p>
      <%= link_to 'Все карточки', cards_path, class: "btn btn-lg" %>
    </p>
  </section>
</div>
