= simple_form_for(@deck, html: { class: 'form-horizontal' }) do |f|
  = f.input :title, label: t('.deck_title'), input_html: { class: 'form-control' }
  = f.submit (f.object.new_record? ? t('.create_deck') : t('.edit_deck')), class: 'btn btn-default'
  = link_to t('back'), decks_path, class: "btn btn-default"
