= simple_form_for(@deck, html: { class: 'form-horizontal' }) do |f|
  = f.input :title, label: t('view.deck_title'), input_html: { class: 'form-control' }
  = f.submit (f.object.new_record? ? t('view.create_desk') : t('view.edit_desk')), class: 'btn btn-default'
  = link_to t('view.back'), decks_path, class: "btn btn-default"
