.row
  .col-md-12
    - if @decks.empty?
      %h3= t('view.no_decks')
    - else
      - @decks.each do |deck|
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h1.panel-title= link_to deck.title, deck
            .panel-body
              %h3.panel-title
                = t('view.card_number')
                = deck.cards.length
            - if deck.current?
              .panel-footer
                %h3.panel-title
                  %span.glyphicon.glyphicon-ok
          %br/
